{% block content %}
  <h1>{{ treino.treino_local }}</h1>
  <p>Data: {{ treino.treino_data|date:'d/m/Y' }}</p>
  <p>Hora: {{ treino.treino_hora|time:'H:i' }}</p>

  {% if not treino.is_ativo %}
    <p>Esse treino não está mais ativo.</p>
  {% else %}
    {% if participando %}
      <p>Você já votou neste treino.</p>
    {% else %}
      <form method="POST" action="{% url 'clube:voto_treino' treino.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Enviar voto</button>
      </form>
    {% endif %}
  {% endif %}

  <h2>Opções para o treino:</h2>
  <ul>
    {% for opcao in opcoes_treino %}
      <li>{{ opcao.texto_opcao }}</li>
    {% empty %}
      <li>Não há opções disponíveis para este treino.</li>
    {% endfor %}
  </ul>


    {% if request.user.atleta %}
    {% endif %}
{% endblock %}
