<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de login</title>
</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clube/css/estilo.css' %}">

<body>
    {% if msg_erro %}
        <h2>{{ msg_erro }}</h2>
    {% endif %}

    <h1>Login:</h1>
    <form action="{% url 'clube:fazerlogin' %}" method="post">
        {% csrf_token %}
        <p>Username: </p>
        <input type="text" name="username" autofocus>
        <p>Password: </p>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Log in">
    </form>

    <li><a href="{% url 'clube:home' %}">Home</a></li>
</body>
</html>