{% extends 'clube/home.html' %}
{% block titulo %}Login{% endblock %}
{% block conteudo %}
    <body>
        {% if msg_erro %}
            <h2>{{ msg_erro }}</h2>
        {% endif %}

        <h1>Login:</h1>
        <form action="{% url 'clube:fazerlogin' %}" method="post">
            {% csrf_token %}
            <p>Username: </p>
            <input type="text" name="username" autofocus>
            <p>Password: </p>
            <input type="password" name="password">
            <br>
            <input type="submit" value="Log in">
        </form>
    </body>
{% endblock %}
