<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script type="text/javascript" src="{% static 'clube/js/javascript.js' %}"></script>
    <meta charset="UTF-8">
    <title>
        {% block titulo %}
        Clube Nacional de Ginástica
        {% endblock %}
    </title>
</head>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'clube/css/estilo.css' %}">


<body>
    <header>
        <div class="container">
            <div class="user-info">
                <h1>Bem vindo ao Clube Nacional de Ginástica {{ user.username }}!!</h1>
            </div>
        </div>
    </header>
    <nav>
        <ul class="nav">
            <li class="nav-left"><a href="{% url 'clube:home' %}">Home</a></li>
            {% if request.user.is_authenticated %}
                <li class="nav-left"><a href="{% url 'clube:historia' %}">História do clube</a></li>
                <li class="nav-left"><a href="{% if jogo.id %}{% url 'clube:voto_jogo' jogo.id %}{% endif %}">Jogos</a></li>
                <li class="nav-left"><a href="{% url 'clube:criar_jogo' %}">Criar Jogos</a></li>
                <li class="nav-left"><a href="{% url 'clube:home' %}">Treinos</a></li>
                <li class="nav-right"><a href="{% url 'clube:home'">Perfil</a></li>
                <li class="nav-right"><a href="{% url 'clube:fazerlogout' %}">Logout</a></li>
            {% else %}
                <li class="nav-left"><a href="{% url 'clube:historia' %}">História do clube</a></li>
                <li class="nav-right"><a href="{% url 'clube:fazerlogin' %}">Login</a></li>
                <li class="nav-right"><a href="{% url 'clube:registar' %}">Registar</a></li>
            {% endif %}
        </ul>
    </nav>

    {% if request.user.is_authenticated %}
        <h2>O user {{ request.user.username }} está logado</h2>
    {% else %}
        <h2>Não está logado...</h2>
    {% endif %}

</body>
</html>