{% block content %}
  <h2>Meus jogos</h2>
  <h3>Criados</h3>
  <ul>
    {% for jogo in jogos_criados %}
      <li>{{ jogo.data }} - {{ jogo.hora }} - {{ jogo.local }} - <a href="{% url 'clube:voto_jogo' jogo.id %}">Votar</a></li>
    {% empty %}
      <li>Você não criou nenhum jogo</li>
    {% endfor %}
  </ul>
  <h3>Participando</h3>
  <ul>
    {% for jogo in jogos_participantes %}
      <li>{{ jogo.data }} - {{ jogo.hora }} - {{ jogo.local }} - {% if jogador_vai_jogar.[jogo.id] is not None %}{% if jogador_vai_jogar.[jogo.id] %}Vai jogar{% else %}Não vai jogar{% endif %}{% endif %}</li>
    {% empty %}
      <li>Você não está participando de nenhum jogo</li>
    {% endfor %}
  </ul>
{% endblock %}
